{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Liste des Images{% endblock %}

{% block body %}
    <h1>Liste des Images</h1>

    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <td><img src="{{ asset(image.url) }}" alt="Image"></td>
                    <td>
                        <a href="{{ path('app_image_delete', {'id': image.id}) }}">Supprimer</a>
                        {# Ajoutez d'autres actions si nécessaire, par exemple, un lien pour éditer l'image. #}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucune image disponible.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
