{% extends '@EasyAdmin/page/content.html.twig' %}

{# {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashbord.css') }}">
{% endblock %}

{% block content %}
    <div class="dashboard-container">
        <aside class="main-sidebar">
            <!-- Votre HTML de sidebar ici -->
        </aside>

        <div class="main-content">
            <!-- Contenu principal de votre tableau de bord ici -->
        </div>
    </div>
{% endblock %} #}
