{% extends 'pages/visiteur/themes_visiteur/base.html.twig' %}

{% block title %}Confirmation de Commande{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Réservation Réussie !</h4>
                <p>Votre commande a été enregistrée avec succès et sera traitée pour la livraison. Le paiement se fera à la réception de votre colis.</p>
                <hr>
                <p class="mb-0">Merci de préparer le montant exact pour faciliter la transaction. Notre livreur vous contactera pour organiser la livraison.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
