{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
<h1>Messages</h1>

<div class="messages">
    {% for message in messages %}
        <div class="message">
            <p><strong>Nom :</strong> {{ message.nom }}</p>
            <p><strong>Email :</strong> {{ message.email }}</p>
            <p><strong>Message :</strong> {{ message.message }}</p>
            
            <!-- Ajouter d'autres détails si nécessaire -->
        </div>
    {% else %}
        <p>Aucun message reçu.</p>
    {% endfor %}
</div>

{% endblock %}
