{% extends 'pages/visiteur/themes_visiteur/base.html.twig' %}

{% block title %}Confirmation de Livraion{% endblock %}

{% block body %}
<div class="container mt-5 pt-5">
    <div class="row pt-5">
        <div class="col-md-12 pt-5">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Commande réussie!</h4>
                <p>Votre reservation a été enregistrée avec succès. Nous vous contacterons pour la livraison.</p>
                <hr>
                <p class="mb-0">Merci d'avoir choisi nos services.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
