{% extends 'pages/visiteur/themes_visiteur/base.html.twig' %}

{% block body %}
    <div class="container mt-5 pt-5">
        <h2 class="text-center">Espace privé en cours de développement</h2>
        <p class="text-center">Nous travaillons activement sur cette fonctionnalité. Revenez bientôt !</p>
    </div>
{% endblock %}
